/* Estilos para el body */
body {
    background-color: #f0f8ff; 
  }
  
  .agregar-ruta-btn {
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 1000; 
  }
  
  /* Estilos para la tabla */
  .table {
    width: 100%;
    margin-top: 20px;
  }
  
  .btn i {
    margin-right: 5px; 
  }
.table-container {
    margin: 0 auto; 
    width: 80%; 
  }
  
  .table {
    border: 1px solid #ddd; 
  }
  
  .table th,
  .table td {
    padding: 8px; 
    text-align: center; 
  }
  
  .btn-agregar-rutas {
    margin-left: 80%;
  }
  /* Estilos CSS para la animación del mensaje */
.message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 10px 20px;
  border-radius: 5px;
  animation: showMessage 0.5s ease-out forwards; /* Duración y tipo de animación */
}

.message.success {
  color: green;
}

.message.error {
  color: red;
}

/* Definición de la animación showMessage */
@keyframes showMessage {
  from {
    opacity: 0; /* Mensaje invisible al inicio */
    transform: translate(-50%, 50%); /* Desplazamiento hacia abajo */
  }
  to {
    opacity: 1; /* Mensaje visible al final */
    transform: translate(-50%, -50%); /* Regresar al centro de la pantalla */
  }
}