.home-container {
    background-color: #f0f8ff; 
    padding-top: 0px; 
    height: 100vh; 
    background-image: url('/public/burbujas.png'); 
    background-size: cover; 
    animation: fadeIn 1s ease; 
    overflow: hidden; 
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .content-container {
    padding: 20px;
    animation: slideInUp 1s ease; 
    height: 100vh;
  }
  
  @keyframes slideInUp {
    from {
      transform: translateY(100px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2); 
  }
  
  .list-group-item {
    background-color: #f0f8ff; 
    border-color: #b0c4de; 
    transition: background-color 0.3s ease; 
  }
  
  .list-group-item:hover {
    background-color: #d3eafd; 
  }
  
  .navbar {
    background-color: #007bff; 
  }
  
  .navbar-brand,
  .navbar-nav .nav-link {
    color: #000000; 
  }
  
  .navbar-brand:hover,
  .navbar-nav .nav-link:hover {
    color: #222b24;
  }
  
  .btn-outline-success {
    color: #28a745; 
    border-color: #28a745; 
  }
  
  .btn-outline-success:hover {
    color: #fff; 
    background-color: #28a745; 
    border-color: #28a745; 
  }

  .scroll-container {
    overflow-y: auto; 
  }
 
  .accordion-container {
    background-color: #ffffff3e; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; 
  }
  
  .accordion-item {
    margin-bottom: 10px; 
  }
  .route-container {
    margin-left: 10px; 
  }
  .information-container {
    margin-right: 10px; 
  }
  .accordion-header {
    background-color: #f0f0f042; 
    padding: 10px; 
    border-radius: 5px 5px 0 0; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    cursor: pointer; 
  }
  .accordion-header:hover {
    background-color: #f0f0f042; 
  }
  
  .accordion-body {
    padding: 10px; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-top: 5px; 
    max-height: 450px; 
    overflow-y: auto; 
  }
  
  /* Animación para el despliegue del cuerpo del Accordion */
  @keyframes slideInDown {
    from {
      opacity: 0;
      max-height: 0;
    }
    to {
      opacity: 1;
      max-height: 200px; 
    }
  }
  
  .accordion-body {
    animation: slideInDown 0.5s ease; 
  }